		<!-- page wrapper -->
        <div class="dev-page">
			<!-- page container -->
			<%= render :partial => 'layouts/header' %>
			<div class="dev-page-container">
				<!-- page sidebar -->
              <div class="dev-page-sidebar">
                <ul class="dev-page-navigation">
                  <li class="title">Navigation</li>
                  <li  class="active">
                    <a href="/admin"><i class="fa fa-dashboard"></i> <span>Admin</span></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-dashboard"></i> <span>View</span></a>
                    <ul>
                      <li><a href="/admin/dim"><i class="fa fa-dashboard"></i> <span>DIM</span></a></li>
                      <li><a href="/admin/prodi"><i class="fa fa-dashboard"></i> <span>Prodi</span></a></li>
                      <li><a href="/admin/agama"><i class="fa fa-dashboard"></i> <span>Agama</span></a></li>
                      <li><a href="/admin/gol"><i class="fa fa-dashboard"></i> <span>Golongan Darah</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-dashboard"></i> <span>New</span></a>
                    <ul>
                      <li><a href="/admin/dim/new_data"><i class="fa fa-dashboard"></i> <span>DIM</span></a></li>
                      <li><a href="/admin/prodi/new_prodi"><i class="fa fa-dashboard"></i> <span>Prodi</span></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="/signed_out"><i class="fa fa-power-off"></i> <span>Log Off</span></a>
                  </li>
                </ul>

              </div>
				<!-- ./page sidebar -->
				
				
				<!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
					
						<!-- All features -->
                        <div class="wrapper wrapper-white">
                            <div class="page-subtitle">
                                <h3>All Table Features</h3>
                                <p>Add <code>.table-bordered</code>, <code>.table-striped</code>, <code>.table-hover</code> to get all features.</p>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ./all features -->
						
					</div>
                    <!-- ./page content container -->
                                        
                </div>
                <!-- ./page content -->  
				</div>
		</div>	




	
