		<!-- page wrapper -->
        <div class="dev-page">
			<!-- page container -->
			<%= render :partial => 'layouts/header' %>
            <div class="dev-page-container">
				<%= render :partial => 'layouts/sidebar' %>
				
				<!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
                        
                        <!-- page title -->
                        <div class="page-title">
                            <h1>Kepegawaian</h1>
                        </div>                        
                        <!-- ./page title -->                                               
                        
					<div class="col-md-6">                                    
                                    
                                    <div class="page-subtitle">
                                        <h3>Collapse Panel</h3>
                                        <p>Use class handler <code>.panel-collapse</code> to collapse panel.</p>
                                    </div>
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Panel title</h3>
                                            <ul class="panel-btn">
                                                <li><a href="#" class="btn btn-danger panel-collapse"><i class="fa fa-angle-down"></i></a></li>                                                
                                            </ul>
                                        </div>
                                        <div class="panel-body">
                                            <p>Aliquam et ex accumsan, maximus nibh ac, sagittis magna. Nam et ante facilisis, venenatis ligula eleifend, convallis est.</p>
                                        </div>                                        
                                    </div>
                                    
                    </div>
						
						<%= render :partial => 'pegawai/agama' %>
                        
                    </div>
                    <!-- ./page content container -->
                                        
                </div>
                <!-- ./page content -->  
			</div>
		</div>	

