<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <script>
            var chart;

            var chartData = [
                {
                    "country": "Bogor Timur",
                    "visits": 1525,
                    "color": "#FF0F00"
                },
                {
                    "country": "Bogor Selatan",
                    "visits": 1882,
                    "color": "#FF6600"
                },
                {
                    "country": "Tanah Sereal",
                    "visits": 1809,
                    "color": "#FF9E01"
                },
                {
                    "country": "Bogor Barat",
                    "visits": 1322,
                    "color": "#FCD202"
                },
                {
                    "country": "Bogor Utara",
                    "visits": 1122,
                    "color": "#F8FF01"
                },
                {
                    "country": "Bogor Tengah",
                    "visits": 1114,
                    "color": "#B0DE09"
                }
            ];


            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "country";
                // the following two lines makes chart 3D
                chart.depth3D = 20;
                chart.angle = 30;

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.labelRotation = 90;
                categoryAxis.dashLength = 5;
                categoryAxis.gridPosition = "start";
				categoryAxis.labelRotation = 45

                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.title = "Visitors";
                valueAxis.dashLength = 5;
                chart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.valueField = "visits";
                graph.colorField = "color";
                graph.balloonText = "<span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                chart.addGraph(graph);

                // CURSOR
                var chartCursor = new AmCharts.ChartCursor();
                chartCursor.cursorAlpha = 0;
                chartCursor.zoomable = false;
                chartCursor.categoryBalloonEnabled = false;
                chart.addChartCursor(chartCursor);

                chart.creditsPosition = "top-right";


                // WRITE
                chart.write("chartdivpangan");
				
				setInterval(randomValue, 10000);
				// set random value
				function randomValue() {
					var value1 = Math.round(Math.random() * 2000);
					var value2 = Math.round(Math.random() * 2000);
					var value3 = Math.round(Math.random() * 2000);
					var value4 = Math.round(Math.random() * 2000);
					var value5 = Math.round(Math.random() * 2000);
					var value6 = Math.round(Math.random() * 2000);
					chartData = [
								{
									"country": "Bogor Timur",
									"visits": value1,
									"color": "#FF0F00"
								},
								{
									"country": "Bogor Selatan",
									"visits": value2,
									"color": "#FF6600"
								},
								{
									"country": "Tanah Sereal",
									"visits": value3,
									"color": "#FF9E01"
								},
								{
									"country": "Bogor Barat",
									"visits": value4,
									"color": "#FCD202"
								},
								{
									"country": "Bogor Utara",
									"visits": value5,
									"color": "#F8FF01"
								},
								{
									"country": "Bogor Tengah",
									"visits": value6,
									"color": "#B0DE09"
								}
							];
					chart.dataProvider = chartData;		
					chart.validateData();		
				}
            });
        </script>
    </head>

    <body>
		<div class="wrapper wrapper-white">
			<div class="col-lg-12">                                    
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h3 class="panel-title">Harga Pangan</h3>
                        <ul class="panel-btn">
                            <li><a href="#" class="btn btn-danger panel-collapse"><i class="fa fa-angle-down"></i></a></li> 
							<li><a href="#" class="btn btn-danger" onClick="dev_panel_fullscreen($(this).parents('.panel')); return false;"><i class="fa fa-compress"></i></a></li>		
                         </ul>
                    </div>
                    <div class="panel-body">
							<div id="chartdivpangan" style="float:left;width:100%; height:400px;"></div>
						</div>
					</div>                                        
                </div>
            </div>    
        </div>	
    </body>

</html>