
		<!-- page wrapper -->
        <div class="dev-page">
			<!-- page container -->
			<%= render :partial => 'layouts/header' %>
            <div class="dev-page-container">
				<%= render :partial => 'layouts/sidebar' %>
				
				<!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
                        
                        <!-- page title -->
                        <div class="page-title">
                            <h1>Distribusi Berdasarkan Program Studi per Tahun</h1>
                            

                        </div>                        
                        <!-- ./page title -->                                               
                        
						  <%= render :partial => 'utama/mappendidikan' %>	
						  <%= render :partial => 'utama/chartpendidikan' %> 
                                         

                        
                        
                    </div>
                    <!-- ./page content container -->
                                        
                </div>
                <!-- ./page content -->  
			</div>
		</div>	




	
