		<!-- page wrapper -->
        <div class="dev-page">
			<!-- page container -->
			<%= render :partial => 'layouts/header' %>
            <div class="dev-page-container">
				<%= render :partial => 'layouts/sidebar' %>
				
				<!-- page content -->
                <div class="dev-page-content">                    
                    <!-- page content container -->
                    <div class="container">
                        
							<%= render :partial => 'utama/chartsosial' %>
							<%= render :partial => 'utama/mapsosial' %>

                        
                    </div>
                    <!-- ./page content container -->
                                        
                </div>
                <!-- ./page content -->  
			</div>
		</div>	

