<!-- page sidebar -->
                <div class="dev-page-sidebar">
                    
                    <ul class="dev-page-navigation">
                        <li class="active">
                            <a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="/dashboard/terkini"><i class="fa fa-institution"></i> <span>Info Terkini</span></a>
                        </li> 
                        <li>
                            <a href="#"><i class="fa fa-area-chart"></i> <span>Program Utama</span></a>
                            <ul>
                                <li><a href="/dashboard/utama/ekonomi"><i class="fa fa-line-chart"></i> <span>Ekonomi</span></a></li>
                                <li><a href="/dashboard/utama/sosial"><i class="fa fa-bar-chart"></i> <span>Sosial</span></a></li>
								<li><a href="/dashboard/utama/kesehatan"><i class="fa fa-briefcase"></i> <span>Kesehatan</span></a></li>
								<li><a href="/dashboard/utama/pendidikan"><i class="fa fa-smile-o"></i> <span>Pendidikan</span></a></li>
                                <li><a href="/dashboard/utama/transportasi"><i class="fa fa-pagelines"></i> <span>Transportasi</span></a></li>
								<li><a href="/dashboard/utama/LH"><i class="fa fa-shopping-cart"></i> <span>LH</span></a></li>
                            </ul>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-group"></i> <span>Indikator SKPD</span></a>
                            <ul>
                                <li><a href="/dashboard/SKPD/Pendidikan"><i class="fa fa-map"></i> <span>Pendidikan</span></a></li>
                                <li><a href="/dashboard/SKPD/dukpacil"><i class="fa fa-info"></i> <span>Dukpacil</span></a></li>
								<li><a href="/dashboard/SKPD/pertanian"><i class="fa fa-graduation-cap"></i> <span>Pertanian</span></a></li>
								<li><a href="/dashboard/SKPD/kominfo"><i class="fa fa-hospital-o"></i> <span>Kominfo</span></a></li>
                                <li><a href="/dashboard/SKPD/pertamanan"><i class="fa fa-balance-scale"></i> <span>Pertamanan</span></a></li>
								<li><a href="/dashboard/SKPD/tenagakerja"><i class="fa fa-balance-scale"></i> <span>Tenaga Kerja</span></a></li>
								<li><a href="/dashboard/SKPD/kesehatan"><i class="fa fa-balance-scale"></i> <span>Kesehatan</span></a></li>
								<li><a href="/dashboard/SKPD/Perdagangan"><i class="fa fa-balance-scale"></i> <span>Perdagangan</span></a></li>
								<li><a href="/dashboard/SKPD/BinaMarga"><i class="fa fa-balance-scale"></i> <span>Bina Marga</span></a></li>
								<li><a href="/dashboard/SKPD/PemudaOR"><i class="fa fa-balance-scale"></i> <span>Pemuda dan OR</span></a></li>
                            </ul>
                        </li> 
						<li>
                            <a href="#"><i class="fa fa-diamond"></i> <span>LKP</span></a>
                            <ul>
                                <li><a href="/dashboard/LKP/LAKIP"><i class="fa fa-desktop"></i> <span>LAKIP</span></a></li>
                                <li><a href="/dashboard/LKP/LKPJ"><i class="fa fa-desktop"></i> <span>LKPJ</span></a></li>
								<li><a href="/dashboard/LKP/LPPD"><i class="fa fa-desktop"></i> <span>LPPD</span></a></li>
								<li><a href="/dashboard/LKP/EKPPD"><i class="fa fa-desktop"></i> <span>EKPPD</span></a></li>
								<li><a href="/dashboard/LKP/ILPPD"><i class="fa fa-desktop"></i> <span>ILPPD</span></a></li>
								<li><a href="/dashboard/LKP/RPJMD"><i class="fa fa-desktop"></i> <span>RPJMD</span></a></li>
                            </ul>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-diamond"></i> <span>Pencapaian I.K.U</span></a>
							<ul>
                                <li><a href="/dashboard/IKU/IPM"><i class="fa fa-desktop"></i> <span>IPM</span></a></li>
                                <li><a href="/dashboard/IKU/IKK"><i class="fa fa-desktop"></i> <span>IKK</span></a></li>
								<li><a href="/dashboard/IKU/IKM"><i class="fa fa-desktop"></i> <span>IKM</span></a></li>
								<li><a href="/dashboard/IKU/IKRataan"><i class="fa fa-desktop"></i> <span>IK Rataan</span></a></li>
								<li><a href="/dashboard/IKU/IKRasio"><i class="fa fa-desktop"></i> <span>IK Rasio</span></a></li>
                            </ul>
                        </li> 
						<li>
                            <a href="#"><i class="fa fa-diamond"></i> <span>Data Internal</span></a>
							<ul>
                                <li><a href="/dashboard/internal/kehadiran"><i class="fa fa-desktop"></i> <span>Tingkat Kehadiran</span></a></li>
                                <li><a href="/dashboard/internal/PNS"><i class="fa fa-desktop"></i> <span>Profil PNS</span></a></li>
								<li><a href="/dashboard/internal/serapan"><i class="fa fa-desktop"></i> <span>Serapan Anggaran</span></a></li>
                            </ul>
                        </li>
						<li>
                            <a href="/signed_out"><i class="fa fa-power-off"></i> <span>Log Off</span></a>
                        </li> 	
                        
                    </ul>
                    
                </div>
<!-- ./page sidebar -->